In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('titanic.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [6]:
df.drop(['PassengerId', 'Name'], axis=1, inplace=True)

In [7]:
df

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,0,3,male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,211536,13.0000,NaN,S
887,1,1,female,19.0,0,0,112053,30.0000,B42,S
888,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,1,1,male,26.0,0,0,111369,30.0000,C148,C
890,0,3,male,32.0,0,0,370376,7.7500,NaN,Q

In [17]:
cols = df.columns
unique_values = dict.fromkeys(cols)
for col in cols:
    unique_values[col] = list(df[col].unique())

unique_values

{'Survived': [0, 1],
 'Pclass': [3, 1, 2],
 'Sex': ['male', 'female'],
 'Age': [22.0,
  38.0,
  26.0,
  35.0,
  nan,
  54.0,
  2.0,
  27.0,
  14.0,
  4.0,
  58.0,
  20.0,
  39.0,
  55.0,
  31.0,
  34.0,
  15.0,
  28.0,
  8.0,
  19.0,
  40.0,
  66.0,
  42.0,
  21.0,
  18.0,
  3.0,
  7.0,
  49.0,
  29.0,
  65.0,
  28.5,
  5.0,
  11.0,
  45.0,
  17.0,
  32.0,
  16.0,
  25.0,
  0.83,
  30.0,
  33.0,
  23.0,
  24.0,
  46.0,
  59.0,
  71.0,
  37.0,
  47.0,
  14.5,
  70.5,
  32.5,
  12.0,
  9.0,
  36.5,
  51.0,
  55.5,
  40.5,
  44.0,
  1.0,
  61.0,
  56.0,
  50.0,
  36.0,
  45.5,
  20.5,
  62.0,
  41.0,
  52.0,
  63.0,
  23.5,
  0.92,
  43.0,
  60.0,
  10.0,
  64.0,
  13.0,
  48.0,
  0.75,
  53.0,
  57.0,
  80.0,
  70.0,
  24.5,
  6.0,
  0.67,
  30.5,
  0.42,
  34.5,
  74.0],
 'SibSp': [1, 0, 3, 4, 2, 5, 8],
 'Parch': [0, 1, 2, 5, 3, 4, 6],
 'Ticket': ['A/5 21171',
  'PC 17599',
  'STON/O2. 3101282',
  '113803',
  '373450',
  '330877',
  '17463',
  '349909',
  '347742',
  '237736',
  'PP 9549',
  '113783',
  'A/5. 2151',
  '347082',
  '350406',
  '248706',
  '382652',
  '244373',
  '345763',
  '2649',
  '239865',
  '248698',
  '330923',
  '113788',
  '347077',
  '2631',
  '19950',
  '330959',
  '349216',
  'PC 17601',
  'PC 17569',
  '335677',
  'C.A. 24579',
  'PC 17604',
  '113789',
  '2677',
  'A./5. 2152',
  '345764',
  '2651',
  '7546',
  '11668',
  '349253',
  'SC/Paris 2123',
  '330958',
  'S.C./A.4. 23567',
  '370371',
  '14311',
  '2662',
  '349237',
  '3101295',
  'A/4. 39886',
  'PC 17572',
  '2926',
  '113509',
  '19947',
  'C.A. 31026',
  '2697',
  'C.A. 34651',
  'CA 2144',
  '2669',
  '113572',
  '36973',
  '347088',
  'PC 17605',
  '2661',
  'C.A. 29395',
  'S.P. 3464',
  '3101281',
  '315151',
  'C.A. 33111',
  'S.O.C. 14879',
  '2680',
  '1601',
  '348123',
  '349208',
  '374746',
  '248738',
  '364516',
  '345767',
  '345779',
  '330932',
  '113059',
  'SO/C 14885',
  '3101278',
  'W./C. 6608',
  'SOTON/OQ 392086',
  '343275',
  '343276',
  '347466',
  'W.E.P. 5734',
  'C.A. 2315',
  '364500',
  '374910',
  'PC 17754',
  'PC 17759',
  '231919',
  '244367',
  '349245',
  '349215',
  '35281',
  '7540',
  '3101276',
  '349207',
  '343120',
  '312991',
  '349249',
  '371110',
  '110465',
  '2665',
  '324669',
  '4136',
  '2627',
  'STON/O 2. 3101294',
  '370369',
  'PC 17558',
  'A4. 54510',
  '27267',
  '370372',
  'C 17369',
  '2668',
  '347061',
  '349241',
  'SOTON/O.Q. 3101307',
  'A/5. 3337',
  '228414',
  'C.A. 29178',
  'SC/PARIS 2133',
  '11752',
  '7534',
  'PC 17593',
  '2678',
  '347081',
  'STON/O2. 3101279',
  '365222',
  '231945',
  'C.A. 33112',
  '350043',
  '230080',
  '244310',
  'S.O.P. 1166',
  '113776',
  'A.5. 11206',
  'A/5. 851',
  'Fa 265302',
  'PC 17597',
  '35851',
  'SOTON/OQ 392090',
  '315037',
  'CA. 2343',
  '371362',
  'C.A. 33595',
  '347068',
  '315093',
  '363291',
  '113505',
  'PC 17318',
  '111240',
  'STON/O 2. 3101280',
  '17764',
  '350404',
  '4133',
  'PC 17595',
  '250653',
  'LINE',
  'SC/PARIS 2131',
  '230136',
  '315153',
  '113767',
  '370365',
  '111428',
  '364849',
  '349247',
  '234604',
  '28424',
  '350046',
  'PC 17610',
  '368703',
  '4579',
  '370370',
  '248747',
  '345770',
  '3101264',
  '2628',
  'A/5 3540',
  '347054',
  '2699',
  '367231',
  '112277',
  'SOTON/O.Q. 3101311',
  'F.C.C. 13528',
  'A/5 21174',
  '250646',
  '367229',
  '35273',
  'STON/O2. 3101283',
  '243847',
  '11813',
  'W/C 14208',
  'SOTON/OQ 392089',
  '220367',
  '21440',
  '349234',
  '19943',
  'PP 4348',
  'SW/PP 751',
  'A/5 21173',
  '236171',
  '347067',
  '237442',
  'C.A. 29566',
  'W./C. 6609',
  '26707',
  'C.A. 31921',
  '28665',
  'SCO/W 1585',
  '367230',
  'W./C. 14263',
  'STON/O 2. 3101275',
  '2694',
  '19928',
  '347071',
  '250649',
  '11751',
  '244252',
  '362316',
  '113514',
  'A/5. 3336',
  '370129',
  '2650',
  'PC 17585',
  '110152',
  'PC 17755',
  '230433',
  '384461',
  '110413',
  '112059',
  '382649',
  'C.A. 17248',
  '347083',
  'PC 17582',
  'PC 17760',
  '113798',
  '250644',
  'PC 17596',
  '370375',
  '13502',
  '347073',
  '239853',
  'C.A. 2673',
  '336439',
  '347464',
  '345778',
  'A/5. 10482',
  '113056',
  '349239',
  '345774',
  '349206',
  '237798',
  '370373',
  '19877',
  '11967',
  'SC/Paris 2163',
  '349236',
  '349233',
  'PC 17612',
  '2693',
  '113781',
  '19988',
  '9234',
  '367226',
  '226593',
  'A/5 2466',
  '17421',
  'PC 17758',
  'P/PP 3381',
  'PC 17485',
  '11767',
  'PC 17608',
  '250651',
  '349243',
  'F.C.C. 13529',
  '347470',
  '29011',
  '36928',
  '16966',
  'A/5 21172',
  '349219',
  '234818',
  '345364',
  '28551',
  '111361',
  '113043',
  'PC 17611',
  '349225',
  '7598',
  '113784',
  '248740',
  '244361',
  '229236',
  '248733',
  '31418',
  '386525',
  'C.A. 37671',
  '315088',
  '7267',
  '113510',
  '2695',
  '2647',
  '345783',
  '237671',
  '330931',
  '330980',
  'SC/PARIS 2167',
  '2691',
  'SOTON/O.Q. 3101310',
  'C 7076',
  '110813',
  '2626',
  '14313',
  'PC 17477',
  '11765',
  '3101267',
  '323951',
  'C 7077',
  '113503',
  '2648',
  '347069',
  'PC 17757',
  '2653',
  'STON/O 2. 3101293',
  '349227',
  '27849',
  '367655',
  'SC 1748',
  '113760',
  '350034',
  '3101277',
  '350052',
  '350407',
  '28403',
  '244278',
  '240929',
  'STON/O 2. 3101289',
  '341826',
  '4137',
  '315096',
  '28664',
  '347064',
  '29106',
  '312992',
  '349222',
  '394140',
  'STON/O 2. 3101269',
  '343095',
  '28220',
  '250652',
  '28228',
  '345773',
  '349254',
  'A/5. 13032',
  '315082',
  '347080',
  'A/4. 34244',
  '2003',
  '250655',
  '364851',
  'SOTON/O.Q. 392078',
  '110564',
  '376564',
  'SC/AH 3085',
  'STON/O 2. 3101274',
  '13507',
  'C.A. 18723',
  '345769',
  '347076',
  '230434',
  '65306',
  '33638',
  '113794',
  '2666',
  '113786',
  '65303',
  '113051',
  '17453',
  'A/5 2817',
  '349240',
  '13509',
  '17464',
  'F.C.C. 13531',
  '371060',
  '19952',
  '364506',
  '111320',
  '234360',
  'A/S 2816',
  'SOTON/O.Q. 3101306',
  '113792',
  '36209',
  '323592',
  '315089',
  'SC/AH Basle 541',
  '7553',
  '31027',
  '3460',
  '350060',
  '3101298',
  '239854',
  'A/5 3594',
  '4134',
  '11771',
  'A.5. 18509',
  '65304',
  'SOTON/OQ 3101317',
  '113787',
  'PC 17609',
  'A/4 45380',
  '36947',
  'C.A. 6212',
  '350035',
  '315086',
  '364846',
  '330909',
  '4135',
  '26360',
  '111427',
  'C 4001',
  '382651',
  'SOTON/OQ 3101316',
  'PC 17473',
  'PC 17603',
  '349209',
  '36967',
  'C.A. 34260',
  '226875',
  '349242',
  '12749',
  '349252',
  '2624',
  '2700',
  '367232',
  'W./C. 14258',
  'PC 17483',
  '3101296',
  '29104',
  '2641',
  '2690',
  '315084',
  '113050',
  'PC 17761',
  '364498',
  '13568',
  'WE/P 5735',
  '2908',
  '693',
  'SC/PARIS 2146',
  '244358',
  '330979',
  '2620',
  '347085',
  '113807',
  '11755',
  '345572',
  '372622',
  '349251',
  '218629',
  'SOTON/OQ 392082',
  'SOTON/O.Q. 392087',
  'A/4 48871',
  '349205',
  '2686',
  '350417',
  'S.W./PP 752',
  '11769',
  'PC 17474',
  '14312',
  'A/4. 20589',
  '358585',
  '243880',
  '2689',
  'STON/O 2. 3101286',
  '237789',
  '13049',
  '3411',
  '237565',
  '13567',
  '14973',
  'A./5. 3235',
  'STON/O 2. 3101273',
  'A/5 3902',
  '364848',
  'SC/AH 29037',
  '248727',
  '2664',
  '349214',
  '113796',
  '364511',
  '111426',
  '349910',
  '349246',
  '113804',
  'SOTON/O.Q. 3101305',
  '370377',
  '364512',
  '220845',
  '31028',
  '2659',
  '11753',
  '350029',
  '54636',
  '36963',
  '219533',
  '349224',
  '334912',
  '27042',
  '347743',
  '13214',
  '112052',
  '237668',
  'STON/O 2. 3101292',
  '350050',
  '349231',
  '13213',
  'S.O./P.P. 751',
  'CA. 2314',
  '349221',
  '8475',
  '330919',
  '365226',
  '349223',
  '29751',
  '2623',
  '5727',
  '349210',
  'STON/O 2. 3101285',
  '234686',
  '312993',
  'A/5 3536',
  '19996',
  '29750',
  'F.C. 12750',
  'C.A. 24580',
  '244270',
  '239856',
  '349912',
  '342826',
  '4138',
  '330935',
  '6563',
  '349228',
  '350036',
  '24160',
  '17474',
  '349256',
  '2672',
  '113800',
  '248731',
  '363592',
  '35852',
  '348121',
  'PC 17475',
  '36864',
  '350025',
  '223596',
  'PC 17476',
  'PC 17482',
  '113028',
  '7545',
  '250647',
  '348124',
  '34218',
  '36568',
  '347062',
  '350048',
  '12233',
  '250643',
  '113806',
  '315094',
  '36866',
  '236853',
  'STON/O2. 3101271',
  '239855',
  '28425',
  '233639',
  '349201',
  '349218',
  '16988',
  '376566',
  'STON/O 2. 3101288',
  '250648',
  '113773',
  '335097',
  '29103',
  '392096',
  '345780',
  '349204',
  '350042',
  '29108',
  '363294',
  'SOTON/O2 3101272',
  '2663',
  '347074',
  '112379',
  '364850',
  '8471',
  '345781',
  '350047',
  'S.O./P.P. 3',
  '2674',
  '29105',
  '347078',
  '383121',
  '36865',
  '2687',
  '113501',
  'W./C. 6607',
  'SOTON/O.Q. 3101312',
  '374887',
  '3101265',
  '12460',
  'PC 17600',
  '349203',
  '28213',
  '17465',
  '349244',
  '2685',
  '2625',
  '347089',
  '347063',
  '112050',
  '347087',
  '248723',
  '3474',
  '28206',
  '364499',
  '112058',
  'STON/O2. 3101290',
  'S.C./PARIS 2079',
  'C 7075',
  '315098',
  '19972',
  '368323',
  '367228',
  '2671',
  '347468',
  '2223',
  'PC 17756',
  '315097',
  '392092',
  '11774',
  'SOTON/O2 3101287',
  '2683',
  '315090',
  'C.A. 5547',
  '349213',
  '347060',
  'PC 17592',
  '392091',
  '113055',
  '2629',
  '350026',
  '28134',
  '17466',
  '233866',
  '236852',
  'SC/PARIS 2149',
  'PC 17590',
  '345777',
  '349248',
  '695',
  '345765',
  '2667',
  '349212',
  '349217',
  '349257',
  '7552',
  'C.A./SOTON 34068',
  'SOTON/OQ 392076',
  '211536',
  '112053',
  '111369',
  '370376'],
 'Fare': [7.25,
  71.2833,
  7.925,
  53.1,
  8.05,
  8.4583,
  51.8625,
  21.075,
  11.1333,
  30.0708,
  16.7,
  26.55,
  31.275,
  7.8542,
  16.0,
  29.125,
  13.0,
  18.0,
  7.225,
  26.0,
  8.0292,
  35.5,
  31.3875,
  263.0,
  7.8792,
  7.8958,
  27.7208,
  146.5208,
  7.75,
  10.5,
  82.1708,
  52.0,
  7.2292,
  11.2417,
  9.475,
  21.0,
  41.5792,
  15.5,
  21.6792,
  17.8,
  39.6875,
  7.8,
  76.7292,
  61.9792,
  27.75,
  46.9,
  80.0,
  83.475,
  27.9,
  15.2458,
  8.1583,
  8.6625,
  73.5,
  14.4542,
  56.4958,
  7.65,
  29.0,
  12.475,
  9.0,
  9.5,
  7.7875,
  47.1,
  15.85,
  34.375,
  61.175,
  20.575,
  34.6542,
  63.3583,
  23.0,
  77.2875,
  8.6542,
  7.775,
  24.15,
  9.825,
  14.4583,
  247.5208,
  7.1417,
  22.3583,
  6.975,
  7.05,
  14.5,
  15.0458,
  26.2833,
  9.2167,
  79.2,
  6.75,
  11.5,
  36.75,
  7.7958,
  12.525,
  66.6,
  7.3125,
  61.3792,
  7.7333,
  69.55,
  16.1,
  15.75,
  20.525,
  55.0,
  25.925,
  33.5,
  30.6958,
  25.4667,
  28.7125,
  0.0,
  15.05,
  39.0,
  22.025,
  50.0,
  8.4042,
  6.4958,
  10.4625,
  18.7875,
  31.0,
  113.275,
  27.0,
  76.2917,
  90.0,
  9.35,
  13.5,
  7.55,
  26.25,
  12.275,
  7.125,
  52.5542,
  20.2125,
  86.5,
  512.3292,
  79.65,
  153.4625,
  135.6333,
  19.5,
  29.7,
  77.9583,
  20.25,
  78.85,
  91.0792,
  12.875,
  8.85,
  151.55,
  30.5,
  23.25,
  12.35,
  110.8833,
  108.9,
  24.0,
  56.9292,
  83.1583,
  262.375,
  14.0,
  164.8667,
  134.5,
  6.2375,
  57.9792,
  28.5,
  133.65,
  15.9,
  9.225,
  35.0,
  75.25,
  69.3,
  55.4417,
  211.5,
  4.0125,
  227.525,
  15.7417,
  7.7292,
  12.0,
  120.0,
  12.65,
  18.75,
  6.8583,
  32.5,
  7.875,
  14.4,
  55.9,
  8.1125,
  81.8583,
  19.2583,
  19.9667,
  89.1042,
  38.5,
  7.725,
  13.7917,
  9.8375,
  7.0458,
  7.5208,
  12.2875,
  9.5875,
  49.5042,
  78.2667,
  15.1,
  7.6292,
  22.525,
  26.2875,
  59.4,
  7.4958,
  34.0208,
  93.5,
  221.7792,
  106.425,
  49.5,
  71.0,
  13.8625,
  7.8292,
  39.6,
  17.4,
  51.4792,
  26.3875,
  30.0,
  40.125,
  8.7125,
  15.0,
  33.0,
  42.4,
  15.55,
  65.0,
  32.3208,
  7.0542,
  8.4333,
  25.5875,
  9.8417,
  8.1375,
  10.1708,
  211.3375,
  57.0,
  13.4167,
  7.7417,
  9.4833,
  7.7375,
  8.3625,
  23.45,
  25.9292,
  8.6833,
  8.5167,
  7.8875,
  37.0042,
  6.45,
  6.95,
  8.3,
  6.4375,
  39.4,
  14.1083,
  13.8583,
  50.4958,
  5.0,
  9.8458,
  10.5167],
 'Cabin': [nan,
  'C85',
  'C123',
  'E46',
  'G6',
  'C103',
  'D56',
  'A6',
  'C23 C25 C27',
  'B78',
  'D33',
  'B30',
  'C52',
  'B28',
  'C83',
  'F33',
  'F G73',
  'E31',
  'A5',
  'D10 D12',
  'D26',
  'C110',
  'B58 B60',
  'E101',
  'F E69',
  'D47',
  'B86',
  'F2',
  'C2',
  'E33',
  'B19',
  'A7',
  'C49',
  'F4',
  'A32',
  'B4',
  'B80',
  'A31',
  'D36',
  'D15',
  'C93',
  'C78',
  'D35',
  'C87',
  'B77',
  'E67',
  'B94',
  'C125',
  'C99',
  'C118',
  'D7',
  'A19',
  'B49',
  'D',
  'C22 C26',
  'C106',
  'C65',
  'E36',
  'C54',
  'B57 B59 B63 B66',
  'C7',
  'E34',
  'C32',
  'B18',
  'C124',
  'C91',
  'E40',
  'T',
  'C128',
  'D37',
  'B35',
  'E50',
  'C82',
  'B96 B98',
  'E10',
  'E44',
  'A34',
  'C104',
  'C111',
  'C92',
  'E38',
  'D21',
  'E12',
  'E63',
  'A14',
  'B37',
  'C30',
  'D20',
  'B79',
  'E25',
  'D46',
  'B73',
  'C95',
  'B38',
  'B39',
  'B22',
  'C86',
  'C70',
  'A16',
  'C101',
  'C68',
  'A10',
  'E68',
  'B41',
  'A20',
  'D19',
  'D50',
  'D9',
  'A23',
  'B50',
  'A26',
  'D48',
  'E58',
  'C126',
  'B71',
  'B51 B53 B55',
  'D49',
  'B5',
  'B20',
  'F G63',
  'C62 C64',
  'E24',
  'C90',
  'C45',
  'E8',
  'B101',
  'D45',
  'C46',
  'D30',
  'E121',
  'D11',
  'E77',
  'F38',
  'B3',
  'D6',
  'B82 B84',
  'D17',
  'A36',
  'B102',
  'B69',
  'E49',
  'C47',
  'D28',
  'E17',
  'A24',
  'C50',
  'B42',
  'C148'],
 'Embarked': ['S', 'C', 'Q', nan]}

In [11]:
 Word Tokenization


 Stemming


 Lemmatization


 Identifying Stop Words


 Dependency Parsing



 POS tags


 Named Entity Recognition (NER)


 Chunking

pandas.core.indexes.base.Index

In [29]:
# pip install spacy , nltk
# python -m spacy download en_core_web_sm

import nltk
import spacy
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer, WordNetLemmatizer
from nltk.corpus import stopwords
from nltk.chunk import RegexpParser
from nltk.tag import pos_tag
import en_core_web_sm

# Initialize NLTK and spaCy
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')
nlp = spacy.load('en_core_web_sm')

# Input text
input_text = "Find out all the rows where sex is given as male and pclass is referred as 1"

# Word Tokenization
tokens = word_tokenize(input_text)

# Stemming
stemmer = PorterStemmer()
stemmed_tokens = [stemmer.stem(token) for token in tokens]

# Lemmatization
lemmatizer = WordNetLemmatizer()
lemmatized_tokens = [lemmatizer.lemmatize(token) for token in tokens]

# Identifying Stop Words
stop_words = set(stopwords.words('english'))
filtered_tokens = [token for token in tokens if token.lower() not in stop_words]

# Dependency Parsing, POS tags, Named Entity Recognition (NER), and Chunking using spaCy
doc = nlp(input_text)

# Dependency Parsing
dependency_tree = [(token.text, token.dep_, token.head.text) for token in doc]

# POS tags
pos_tags = [(token.text, token.pos_) for token in doc]

# Named Entity Recognition (NER)
ner_tags = [(ent.text, ent.label_) for ent in doc.ents]

# Chunking using RegexpParser (You can define your custom rules)
custom_chunk_rules = r"""Chunk: {<DT>?<JJ>*<NN.*>+}"""
chunk_parser = RegexpParser(custom_chunk_rules)
chunked_tree = chunk_parser.parse(pos_tag(filtered_tokens))

# Print the results
print("Word Tokenization:", tokens)
print("Stemming:", stemmed_tokens)
print("Lemmatization:", lemmatized_tokens)
print("After Removing Stop Words:", filtered_tokens)
print("Dependency Parsing:", dependency_tree)
print("POS tags:", pos_tags)
print("Named Entity Recognition (NER):", ner_tags)
print("Chunking:", chunked_tree)

[nltk_data] Downloading package punkt to /home/sancheet/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /home/sancheet/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /home/sancheet/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/sancheet/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

Word Tokenization: ['Find', 'out', 'all', 'the', 'rows', 'where', 'sex', 'is', 'given', 'as', 'male', 'and', 'pclass', 'is', 'referred', 'as', '1']
Stemming: ['find', 'out', 'all', 'the', 'row', 'where', 'sex', 'is', 'given', 'as', 'male', 'and', 'pclass', 'is', 'refer', 'as', '1']
Lemmatization: ['Find', 'out', 'all', 'the', 'row', 'where', 'sex', 'is', 'given', 'a', 'male', 'and', 'pclass', 'is', 'referred', 'a', '1']
After Removing Stop Words: ['Find', 'rows', 'sex', 'given', 'male', 'pclass', 'referred', '1']
Dependency Parsing: [('Find', 'ROOT', 'Find'), ('out', 'prt', 'Find'), ('all', 'predet', 'rows'), ('the', 'det', 'rows'), ('rows', 'nsubjpass', 'referred'), ('where', 'advmod', 'given'), ('sex', 'nsubjpass', 'given'), ('is', 'auxpass', 'given'), ('given', 'relcl', 'rows'), ('as', 'prep', 'given'), ('male', 'pobj', 'as'), ('and', 'cc', 'male'), ('pclass', 'conj', 'male'), ('is', 'auxpass', 'referred'), ('referred', 'ccomp', 'Find'), ('as', 'prep', 'referred'), ('1', 'pobj', 'as')]
POS tags: [('Find', 'VERB'), ('out', 'ADP'), ('all', 'DET'), ('the', 'DET'), ('rows', 'NOUN'), ('where', 'SCONJ'), ('sex', 'NOUN'), ('is', 'AUX'), ('given', 'VERB'), ('as', 'ADP'), ('male', 'NOUN'), ('and', 'CCONJ'), ('pclass', 'NOUN'), ('is', 'AUX'), ('referred', 'VERB'), ('as', 'ADP'), ('1', 'NUM')]
Named Entity Recognition (NER): [('1', 'CARDINAL')]
Chunking: (S
  (Chunk Find/NNP)
  rows/VBZ
  (Chunk sex/NN)
  given/VBN
  (Chunk male/JJ pclass/NN)
  referred/VBD
  1/CD)

In [24]:
# pip install spacy

In [23]:
# !python -m spacy download en_core_web_sm

In [26]:
import nltk

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/sancheet/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [30]:
# Dependency parsing result
dependency_parsing_result = [
    ('Find', 'ROOT', 'Find'),
    ('out', 'prt', 'Find'),
    ('all', 'predet', 'rows'),
    ('the', 'det', 'rows'),
    ('rows', 'nsubjpass', 'referred'),
    ('where', 'advmod', 'given'),
    ('sex', 'nsubjpass', 'given'),
    ('is', 'auxpass', 'given'),
    ('given', 'relcl', 'rows'),
    ('as', 'prep', 'given'),
    ('male', 'pobj', 'as'),
    ('and', 'cc', 'male'),
    ('pclass', 'conj', 'male'),
    ('is', 'auxpass', 'referred'),
    ('referred', 'ccomp', 'Find'),
    ('as', 'prep', 'referred'),
    ('1', 'pobj', 'as')
]

# Initialize variables to store inferred conditions
sex_condition = None
pclass_condition = None

# Iterate through the parsing result to extract conditions
for token, relation, head in dependency_parsing_result:
    if relation == 'nsubjpass' and token == 'sex':
        # "sex" is associated with the passive subject, indicating a condition on sex
        sex_condition = head
    elif relation == 'conj' and head == 'male':
        # "pclass" is connected to "male" through "conj," indicating a condition on pclass
        pclass_condition = token

# Print the inferred conditions
if sex_condition is not None:
    print(f"Condition on 'sex': {sex_condition}")
if pclass_condition is not None:
    print(f"Condition on 'pclass': {pclass_condition}")

Condition on 'sex': given
Condition on 'pclass': pclass